* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 10px);
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
  padding: 5px;
}
body #title {
  font-size: 3rem;
  height: 30%;
  margin: 50px;
  color: #3498db;
}
body > #leaderboard-content {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
  gap: 50px;
}
body > #leaderboard-content > * {
  width: 50%;
  max-width: 500px;
  padding: 30px;
}
body > #leaderboard-content #all-scores-container {
  background-color: #e4e4e4;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  border: 2px solid #3498db;
}
body > #leaderboard-content #all-scores-container #all-scores-list {
  border: 1px solid #3498db;
  border-radius: 6px;
  background-color: #f5f5f5;
}
body > #leaderboard-content #all-scores-container #all-scores-list .score-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
}
body > #leaderboard-content #all-scores-container #all-scores-list .score-item:nth-child(even) {
  background-color: #e4e4e4;
}
body > #leaderboard-content #all-scores-container #all-scores-list .score-item:hover {
  background-color: #5faee3;
}
body > #leaderboard-content #all-scores-header {
  display: flex;
}
body > #leaderboard-content #all-scores-header #refresh-btn {
  padding: 8px;
  width: 36px;
  height: 40px;
  background-color: #3498db;
  color: white;
  border: none;
  margin-left: auto;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, transform 0.5s, width 0.5s;
}
body > #leaderboard-content #all-scores-header #refresh-btn > span {
  opacity: 0;
  transition: opacity 0.5s;
}
body > #leaderboard-content #all-scores-header #refresh-btn #refresh-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}
body > #leaderboard-content #all-scores-header #refresh-btn:hover {
  background-color: #5faee3;
  transform: scale(1.05);
  width: 66px;
}
body > #leaderboard-content #all-scores-header #refresh-btn:hover #refresh-icon {
  opacity: 0;
}
body > #leaderboard-content #all-scores-header #refresh-btn:hover > span {
  opacity: 1;
}
body > #leaderboard-content h3 {
  font-size: 2rem;
  font-family: "Helvetica Neue", sans-serif;
  color: #3498db;
  margin-top: 0;
}
body > #leaderboard-content #score-submit-form {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 15px;
}
body > #leaderboard-content #score-submit-form input {
  height: 40px;
  padding: 8px;
  border: 1px solid #3498db;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}
body > #leaderboard-content #score-submit-form input:focus {
  outline: none;
  border-color: #3498db;
}
body > #leaderboard-content #score-submit-form #submit-btn {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
body > #leaderboard-content #score-submit-form #submit-btn:hover {
  transform: scale(1.05);
}/*# sourceMappingURL=style.css.map */